/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@font-face {
  font-family: 'flow';
  src: url('font/');
}

html {
  height: 100%;
 scroll-behavior: smooth;
}









 body {
  display: flex;
  flex-direction: column;
  background-color: #2A3D45;
  /* color: white; */
  color: white;
  height: 100vh;

 }
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
a, a:visited, a:hover, a:active {
   color: white;
  text-decoration: none;
  /* background-color: aqua;, */
  /* border-radius: 20px; */
  /* padding: 2px; */
  /* width: fit-content; */
 }
/* HEADER */

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  width: 100%;
  height: 100px;
  min-height: 100px;
  background-color: 2A3D45;
  color: white;
}
.header-title {
  flex-grow: 1;
  align-items: center;
  align-content: center;
}




/* FOOTER */
.footer {
  z-index: 100;
  width: 100%;
  height: 50px;
  color: white;

   display: flex;
   /* flex-direction: column; */
   justify-items: space-around;
   justify-content: center;
   align-items: center;
   align-content: space-around;
   gap: 20px;
}
.ajuste-footer-right{
  content: "";
  position: absolute;
  /* top: 20px; */
  /* bottom: 20px; */
  /* right: 300px; */
  /* align-self: flex-start; */
  /* margin-top: 20px; */
  /* border-bottom: 5px solid #3e4a4d; */
  z-index:2;
  width: 300px;
  /* height: 200px; */
  height: 2px;
  bottom: 48px;
  right: 0px;
  background-color: #3e4a4d;
  user-select: none;
}
.ajuste-footer {
  content: "";
  position: absolute;
  /* top: 20px; */
  /* bottom: 20px; */
  /* right: 300px; */
  /* align-self: flex-start; */
  /* margin-top: 20px; */
  /* border-bottom: 5px solid #3e4a4d; */
  z-index:2;
  width: 300px;
  /* height: 200px; */
  height: 2px;
  bottom: 48px;
  left: 0px;
  background-color: #3e4a4d;
  user-select: none;
}
.footer img {
  filter: invert(100%);
}


.right-side-footer   {
   display: flex;
   align-items: center;
   justify-self: center;
   gap: 5px;
}


/* CONTAINER */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.middle-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 300px 2fr 300px;
  grid-row: auto;
  /* max-height: 100vh; */

}
.side {
  grid-column: 1;
  grid-row: 1/10;

  /* border-radius: 10px; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /* border-top: 15px solid #3e4a4d; */
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  flex-grow: 1;
  padding: 10px;
}
.log-in-btn {
  padding: 10px;
  font-size: 1.5rem;
  /* align-self: flex-end; */
  /* justify-content: ; */
  place-self: flex-end;
  background-color: inherit;
  border: none;
  color: white;
  cursor: pointer;
}
.login-div{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* place-self: flex-end; */
}
.user-info {
  display: flex;
  flex-direction: column;
  height: 30%;

}
.login-icon {
  filter: invert(100%);
  width: 30px;
  justify-self: center;
  align-content: center;
}
.log-out-btn {
  width: 200px;
}
.login-btn-img{
  background-color: inherit;
  border: none;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.side-right { 
 
  grid-column: 3;
  grid-row: 1/10;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.renderable{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
  /* overflow: hidden; */
  flex-grow: 1;
  grid-column: 2/3;
  grid-row: 1/10;
  /* text-align: center; */
}
.events-title {
  text-align: center;
  padding: 10px;
}
/* EVENT CARD DISPLAY */
#events {
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: grid;
  grid-auto-rows: 100px;
  overflow-y: scroll;
  /* gap: 20px; */
  padding: 30px;
  
  /* padding-right: 17px; */
  /* overflow-y: scroll; */
  /* box-sizing: content-box; */
}


.event-card, .event-card.public{
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid white;
  border-radius: 50px;
  height: 130px;
  background-color: ;
  text-align: center;
  gap: 5px;
}
.event-location, .event-author, .event-date-inside, .event-title-card {
  display: flex;
  gap: 5px;
  font-size: 25px;
}
.event-title-card {
  font-weight: bold;
  font-size: 50px;
}
.event-title {
  font-size: 25px;
  text-align: center;
}
.attendees {
  display: flex;
  width: 50%;
}
.attendees-info {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20%;
}
.privacy-icon {
  height: 25px;
  place-self: flex-end;
  position: relative;
  
}
.event-card {
  background-color: rgb(160, 140, 200);
}
.event-card.public {
  background-color: rgb(100, 180, 100);
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  border: 2px solid white;
  border-radius: 50px;
  height: 130px; 
}
#event-display-card{
  display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
flex-grow: 1;
}
.invitation {
  display: flex;
  padding: 5px;
  /* flex-direction: column; */
  /* justify-content: space-evenly; */
  justify-content: center;
  gap: 100px;
}




.invite-btn {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.invite-btn:hover,
.invite-btn:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.invite-btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.invite-btn:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}









 .users-to-invite, .attendees{
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  flex-direction: column;
  width: 300px;
  /* border: 1px solid white; */
  height: 250px;
  overflow-y: scroll;
  border-radius: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: 1px solid black;
 }
 .user-name{
  display: flex;
  gap: 8px;
 }
 .invitation-part {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .user-icon {
  filter: invert(100%);
  width: 20px;
 }
.invitation {
  display: flex;

  align-items: center;
  gap: 10px;
}

.event-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  /* gap: 10px; */
}
.attendees {
  
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  gap: 5px;
}
 .events {
    display: flex;
    /* gap: 10px; */
    flex-direction: column;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    justify-content: center;
    text-align: center;
 }

 .all-events{
   display: flex;
 }

 .invites {
   display: flex;
   flex-direction: column;
 }

.flash{
  background-color: green;
  color: white;
  padding: 20px;
  width: auto;
  position: absolute;
  border-radius: 20px;
  bottom: 10px;
  right: 1px;
  transition: opacity 0.5s ease-in-out;
  font-size: 15px;
  font-weight: bold;
 }

 
 .header a {
  font-size: 20px;
 }
 .flash.show {
  opacity: 1;
 }

.display-events {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  text-align: center;
}