/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .events {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    justify-content: center;
    text-align: center;
 }

 .all-events{
   display: flex;
 }

 .invites {
   display: flex;
   flex-direction: column;
 }

.flash{
  background-color: green;
  color: white;
  padding: 20px;
  width: auto;
  position: absolute;
  border-radius: 20px;
  bottom: 10px;
  right: 1px;
  transition: opacity 0.5s ease-in-out;
  font-size: 15px;
  font-weight: bold;
 }
 .flash .show {
  opacity: 1;
 }

.display-events {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  text-align: center;
}