<div class="footer">
   
    <div class='left-side-footer'>
    <h2>A pet lover</h2>
    </div>
    <h2>|</h2>
    <div class="right-side-footer">
    <%= link_to "undergroundr97", "https://github.com/undergroundr97"%>
    <%= image_tag ("github-icon.svg")%>
    </div>
</div>