<div class="header">
    <div class="header-title">
        <h1>Private Events</h1>
    </div>
    <div class="ajuste"></div>
    <div class="ajuste-right"></div>
</div>

<%#  %>


<%# <%= link_to "Show events all", events_path <br> %>
<%# <%= link_to "Show this user", user_path(current_user.id) if !current_user.nil? %> 